<!--<!doctype html>-->
{% load static %}
{% load bootstrap4 %}
<link rel="stylesheet"  href="{% static 'polls/availability-calendar.css' %}">
<link rel="stylesheet"  href="{% static 'polls/bootstrap.css' %}">
<link rel="stylesheet"  href="{% static 'polls/font-awesome.min.css' %}">
<link rel="stylesheet"  href="{% static 'polls/hexagons.min.css' %}">
<link rel="stylesheet"  href="{% static 'polls/ion.rangeSlider.css' %}">
<link rel="stylesheet"  href="{% static 'polls/ion.rangeSlider.skinFlat.css' %}">
<link rel="stylesheet"  href="{% static 'polls/jquerysctipttop.css' %}">
<link rel="stylesheet"  href="{% static 'polls/linearicons.css' %}">
<link rel="stylesheet"  href="{% static 'polls/magnific-popup.css' %}">
<link rel="stylesheet"  href="{% static 'polls/main.css' %}">
<link rel="stylesheet"  href="{% static 'polls/main.css.map' %}">
<link rel="stylesheet"  href="{% static 'polls/nice-select.css' %}">
<link rel="stylesheet"  href="{% static 'polls/owl.carousel.css' %}">
<link rel="stylesheet"  href="{% static 'polls/static/polls/main.scss' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

<!--<html lang="en">-->
<!--  <head>-->
<!--      <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Quick Tutor</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--<div class="p-3 mb-2 bg-gradient-secondary text-white">.bg-gradient-secondary</div>-->
<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item">-->
<!--         <a class="nav-link" href="/quick-tutor/">Find a Tutor<span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--            <a class="nav-link" href="/quick-tutor/chat">Chat<span class="sr-only">(current)</span></a>-->
<!--         </li>-->
<!--        <li class="nav-item">-->
<!--         <a class="nav-link" href="/quick-tutor/suggestions">Other Tab (ToDo)<span class="sr-only">(current)</span></a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--         <a class="nav-link" href="/quick-tutor/student_profile">My Student Profile<span class="sr-only">(current)</span></a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            {% if user.is_authenticated %}-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" href=""><p>Logged in as: {{ user.username }}</p><span class="sr-only">(current)</span></a>-->
<!--                </li>-->

<!--            <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>-->
<!--            {% else %}-->
<!--                    <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Login<span class="sr-only">(current)</span></a>-->
<!--                </a>-->
<!--            {% endif %}-->
<!--        </li>-->

<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->
<!--      <nav class="navbar fixed-bottom navbar-light bg-light">-->
<!--      <a class="navbar-brand" href="#"><p class="text-info">Author: QTees</p></a>-->
<!--          <a class="navbar-brand" href="#"><p class="text-info">Copyright/License: MIT</p></a>-->
<!--          <a class="navbar-brand" href="#"><p class="text-info">Version: 1.0</p></a>-->
<!--    </nav>-->


<!-- &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--<div class="container">-->
<!--  <h1><p class="text-info">Tutors Available</p></h1>-->

<!--{% if latest_question_list %}-->
<!--    <ul>-->
<!--    {% for question in latest_question_list %}-->
<!--        <a class="btn btn-info" role="button" href="{% url 'quick-tutor:detail' question.id %}">{{ question.question_text }}</a>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No tutors are available now, please check back later. You can also send a DM to a tutor!</p>-->
<!--{% endif %}-->
<!--</div>-->


<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static '/polls/images/fav.png' %}" />
  <!-- Author Meta -->
  <meta name="author" content="colorlib" />
  <!-- Meta Description -->
  <meta name="description" content="" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="" />
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Site Title -->
  <title>Eclipse Education</title>

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />'
    <script src="jquery.min.js"></script>
  <!--
      CSS
      =============================================
    -->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/linearicons.css}" />-->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/font-awesome.min.css}" />-->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/bootstrap.css}" />-->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/magnific-popup.css}" />-->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/owl.carousel.css}" />-->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/nice-select.css}">-->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/hexagons.min.css}" />-->
<!--  <link rel="stylesheet" href="{% static 'polls/ahttps://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css}" />-->
<!--  <link rel="stylesheet" href="{% static 'polls/acss/main.css}" />-->
</head>

<body>
  <!-- ================ Start Header Area ================= -->
  <header class="default-header">
      <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
  <!--        <a class="navbar-brand" href="index.html">-->
  <!--          <img src="{% static '/polls/images/qt_logo.png' %}" alt="" />-->
  <!--        </a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
          </button>
  
          <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li><a href="/quick-tutor/">Home</a></li>
              <li><a href="/quick-tutor/tutor_match">Find a Tutor</a></li>
              <li><a href="/quick-tutor/student_profile">Your Profile</a></li>
              <li><a href="https://chat-site6.herokuapp.com/">Chat App</a></li>

  
  
  <!--             <li><a href="tutor_match.html">Login/Register</a></li>-->
              {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link disabled" href=""><p>Logged in as: {{ user.username }}</p><span class="sr-only">(current)</span></a>
                  </li>
  
              <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
              {% else %}
                      <li><a href="{% url 'social:begin' 'google-oauth2' %}">Login/Register</a></li>
                  </a>
              {% endif %}
          </li>
  
  
  
              <li><a href="/quick-tutor/contact_us/">Contact Us</a></li>
  
              <li>
                <button class="search" >
                  <span class="lnr lnr-magnifier"></span>
                </button>
  
  
  
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
  <!--<div class="search-input" id="search-input-box">-->
  <!--      <div class="container">-->
  
  <!--        <form class="d-flex justify-content-between">-->
  <!--          <input type="text" class="form-control" id="search-input" placeholder="Search Here" />-->
  <!--&lt;!&ndash;          <button class="navbar-toggle" type="submit" data-toggle="collapse" data-target="bs-navbar-collapse" ></button>&ndash;&gt;-->
  <!--          <button type="submit" class="btn"></button>-->
  <!--          <span class="lnr lnr-cross" id="close-search" title="Close Search"></span>-->
  <!--        </form>-->
  <!--      </div>-->
  <!--    </div>-->
    </header>
  <!-- ================ End Header Area ================= -->

  <!-- ================ start banner Area ================= -->
  <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8 home-banner-left">
          <h1 class="text-white">
           Tutoring. Whenever. Wherever.
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40">
            UVA classes are hard. Let us help. We can match you with the right tutor, in real time, for a great price.
          </p>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
          <img class = "img-fluid" src="{% static '/polls/images/header-img.png' %}" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-book"></i>
            <div class="ml-20">
              <h4>Instant Help for Most UVA Classes</h4>
              <p>
                We provide tutors for most, if not all undergraduate UVA classes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-location-pin"></i>
            <div class="ml-20">
              <h4>Real-Time Matching</h4>
              <p>
                We can match you up instantly, with a tutor of your choice. If you need to cancel, there's an option to do so.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex border-right-0">
            <i class="ti-comments"></i>
            <div class="ml-20">
              <h4>Built In Chat Room Feature</h4>
              <p>
                  Login to a chatroom and share the link with your tutor to get help via chat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->


  <!-- ================ Start Video Area ================= -->
  <section class="video-area section-gap-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="section-title text-white">
            <h2 class="text-white">
              We meet you. <br>
              Yes, in real time.
            </h2>
            <p>
              We use a system, much like Uber, to match you with your desired tutor. The Tutor comes to you, and can meet you anywhere
              on grounds.
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-md-6 video-left">
          <div class="owl-carousel video-carousel">
            <div class="single-video">
              <div class="video-part">
                <img class="img-fluid" src="{% static '/polls/images/uva.jpg' %}" alt="">

              <h4 class="text-white mb-20 mt-30">Rates are $10/hour, and payments are made via Venmo. If you don't have a Venmo, have cash ready!</h4>
              <p class="text-white mb-20">
                Once you are matched, the tutor has the ability to accept or deny your request, depending on if they feel comfortable with your assignment. 
                If you get denied by one tutor, feel free to request another - there is no limit as to how many you can request!
              </p>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Video Area ================= -->



  <!-- ================ Start Testimonials Area ================= -->
  <section class="testimonials-area section-gap">
    <div class="container">


        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="item">
              <div class="testi-item">
                <img src="{% static '/polls/images/quote.png' %}" alt="" />
                <div class="mt-40 text">
                  <p>
                    Wow. What can I say. This app saved me, it really did. As a first year CS major, classes are hard
                    <br />
                    Quick tutor allowed me to match with a experienced UVA student and pass my class!
                  </p>
                </div>
                <h4>Sam Hamilton</h4>
                <p>First Year, Computer Science</p>
              </div>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-6">
            <img src="{% static '/polls/images/testimonial/t1.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Testimonials Area ================= -->



  <!-- ================ Start Blog Post Area ================= -->
  <section class="blog-post-area section-gap">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-12">
          <div class="section-title text-left">
            <h2>
              Most Popular Classes <br />

            </h2>
            <p>
              These are our most in demand and useful tutors! They are the most experienced and knowledgeable students UVA has to offer!
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-blog-post">
            <img src="{% static '/polls/images/blog-post/b1.jpg' %}" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p> Tutored Since Fall 2020</p>
              <p>787 Hours Tutored</p>
              <p>Over 100 Students Helped</p>
            </div>
            <div class="text">
              <h4 class="text-white">CS 2150: Program and Data Representation</h4>
              <div>
                <p>
                 Looks at the way data is represented at the lowest and highest levels.
                </p>
              </div>
              <a href="#" class="primary-btn">
                View Details
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--160">
          <div class="single-blog-post">
            <img src="{% static '/polls/images/blog-post/b2.jpg' %}" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p> Tutored Since Spring 2020</p>
              <p>Over 750 Hours Tutored</p>
              <p>Over 90 Students Helped</p>
            </div>
            <div class="text">
              <h4 class="text-white">CHEM 2410: Organic Chemistry</h4>
              <div>
                <p>
                Looks at carbon structures and their properties.
                </p>
              </div>
              <a href="#" class="primary-btn">
                View Details
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="single-blog-post">
            <img src="{% static '/polls/images/blog-post/b3.jpg' %}" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p> Tutored Since Fall 2019</p>
              <p>Over 500 Hours Tutored</p>
              <p>Over 75 Students Helped</p>
            </div>
            <div class="text">
              <h4 class="text-white">APMA 1110: Calculus II</h4>
              <div>
                <p>
                  Surveys Integral Calculus and its applications.
                </p>
              </div>
              <a href="#" class="primary-btn">
                View Details
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Blog Post Area ================= -->



  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Top Products</h4>
					<ul>
						<li><a href="#">Managed Website</a></li>
						<li><a href="#">Manage Reputation</a></li>
						<li><a href="#">Power Tools</a></li>
						<li><a href="#">Marketing Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Features</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Experts</a></li>
						<li><a href="#">Agencies</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 single-footer-widget">
					<h4>Newsletter</h4>
					<p>Let's stay in touch.</p>
					<div class="form-wrap" id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
							 required="" type="email">
							<button class="click-btn btn btn-default text-uppercase">subscribe</button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12">
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				<div class="col-lg-4 col-md-12 footer-social">
					<a href="#"><i class="ti-facebook"></i></a>
					<a href="#"><i class="ti-twitter"></i></a>
					<a href="#"><i class="ti-instagram"></i></a>
					<a href="#"><i class="ti-linkedin"></i></a>
				</div>
			</div>
		</div>
	</footer>
  <!-- ================ End footer Area ================= -->

  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/parallax.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/hexagons.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
